<?xml version="1.0"?>
<launch>
        <node pkg="operator_station" name="command_distributor" type="command_distributor.py" output="screen"/>
            <remap from="command_distributor" to="command_distributor"/>
            <remap from="yozakura_command" to="yozakura_command"/>
            <remap from="arm_command" to="arm_command"/>
            <remap from="motor_command" to="motor_command"/>
        <node pkg="rosserial_python" name="mbed1" type="serial_node.py">
            <param name="port" value="/dev/ttyACM0"/>
        </node>
        <node pkg="rosserial_python" name="mbed2" type="serial_node.py">
            <param name="port" value="/dev/ttyACM1"/>
        </node>
</launch>
